@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.header {
  @include header;
  display: flex;
  align-items: center;
  padding: 20px;

  .back__icon {
    cursor: pointer;
  }
}

.originalImg {
  padding: 0px 40px;
  margin-top: 10px;
  margin-bottom: 40px;

  img {
    width: 100%;
    object-fit: contain;
  }
}
