@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.editForm {
  position: relative;

  .header {
    @include header;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .back__icon {
      margin-right: 20px;
      cursor: pointer;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      flex-grow: 1;
    }

    .submitBtn {
      @include btn;
      width: 70px;
      height: 30px;
      border-radius: 20px;
      padding: 5px 10px;
      color: $white;
      background-color: $primaryBlue;

      &:disabled,
      &:disabled:hover,
      &:disabled:focus {
        background-color: $activeGray;
      }

      &:hover,
      &:focus {
        background-color: $activeBlue;
      }
    }
  }

  .wrapper {
    padding: 30px;

    .imageArea {
      .file {
        display: block;
        cursor: pointer;
        width: 70px;
        height: 70px;
        // background-color: $primaryBlue;
        border-radius: 50%;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;

        .selectedImg {
          @include profileImg;
        }
        .defaultImg {
          @include profileImg;
          height: 100%;
          padding: 10px;
        }

        .file__icon {
          color: rgba(255, 255, 255, 0.5);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate((-50%, -50%));
        }
      }

      :global(.hidden) {
        display: none;
      }
    }

    .inputArea {
      .input__block {
        padding: 10px 15px 15px 10px;
        border: 1px solid $borderGray;
        border-radius: 10px;
        margin-bottom: 20px;

        .input__title {
          color: $grayText;
          font-size: 14px;
        }
        .input__el {
          background-color: transparent;
          width: 100%;
          padding: 5px 10px 0px 10px;
          border: none;
          outline: none;
          font-size: 16px;
          color: $textBlack;
        }
        &:focus-within {
          border-color: $primaryBlue;
        }
      }
    }

    @include respond(sm) {
      padding: 20px 15px;
    }
  }

  @include respond(sm) {
    padding: 0 10px;
  }
}
