@use "/src/styles/colors" as *;

.home__header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.7);
  backdrop-filter: blur(10px);
  z-index: 2;

  .tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $borderGray;

    .tab {
      text-align: center;
      font-weight: 500;
      padding: 16px;
      cursor: pointer;

      &.active {
        font-weight: 700;
        border-bottom: 2px solid $activeBlue;
      }

      &:hover,
      &:focus {
        background-color: $activeBgColor;
      }
    }
  }
}
