$textBlack: #2f3640;
$borderGray: #dcdde1;
$bgColor: #fafafa;
$activeBgColor: #dedede5f;
$white: #ffffff;
$borderColor: #708090;
$primaryBlue: #60a5fa;
$activeBlue: #3b82f6;
$grayText: #9ca3af;
$primaryRed: #dc26268e;
$activeRed: #dc2626;
$primaryGray: #4c515b;
$activeGray: #979799cd;
