@use "./colors" as *;
@use "./mixins" as *;
@use "./variables" as *;

.hashtagLink {
  color: $primaryBlue;
  cursor: pointer;

  &:hover {
    background-color: $hoverGray;
    border-radius: 3px;
  }
}
