@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.layout {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      padding: 20px;
      font-weight: 700;
      font-size: 20px;
      pointer-events: none;
    }
    .header__right {
      display: flex;
      justify-content: center;
      align-items: center;

      .link__about {
        @include btn;
        @include respond-min(sm) {
          margin-right: 20px;
        }
        color: $primaryBlue;
      }

      .icon {
        display: none;
        @include respond(sm) {
          @include btn;
          margin-right: 20px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: $activeBlue;
          position: relative;
        }
      }
    }
  }

  .main {
    display: flex;

    .timeLine {
      padding: 0 30px;
      width: 100%;

      @include respond(sm) {
        padding: 0;
        margin-bottom: 15px;
      }
    }

    @include respond(sm) {
      flex-direction: column;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    padding: 20px 0px;
    color: $primaryGray;

    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      span {
        font-weight: 600;
      }

      p {
        font-size: 14px;
        color: #797979;
      }
    }

    .github {
      img {
        width: 25px;
        height: 25px;
      }
    }

    .mail {
      span {
        font-size: 25px;
      }
    }

    @include respond(sm) {
      padding: 20px;
    }
  }
}
