@use "../../styles/colors" as *;

.commentBox {
  .commentTextArea {
    background-color: transparent;
    resize: none;
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $borderGray;
    outline: none;
    cursor: default;

    :global(.hashtag) {
      color: $primaryBlue;
    }
  }

  .fileArea {
    .hidden {
      display: none;
    }
  }
}
